.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #ffffff;
  background-color: #272727;
}
.header-unordered-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}
.for-logo-image {
  margin-left: 10px;
}
.for-link {
  text-decoration: none;
  margin-left: 10px;
  color: #ffffff;
}
.logoutButton {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border-width: 0;
  margin-right: 10px;
}
